[build]
  command = "npm run build"
  publish = ".next"
  environment = { NEXT_PUBLIC_NETLIFY = "true" }

[dev]
  command = "npm run dev"
  port = 8888

[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200

[functions]
  directory = "netlify/functions"
